.divider span
{
  display: inline-block;
  padding: 0 20px;
  position: relative;
  vertical-align: baseline;
  margin-bottom: 10px;
}
.divider span::before
{
  right: 100%;
}

.divider span::after
{
  left: 100%;
}

.divider span::before, .divider span::after
{
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  width: 40%;
  background-attachment: scroll;
  background-repeat: repeat-x;
  background-position: center center;
 
  background-image: url('../assets/images/divider.png');
    height: 9px;
    margin-top: -4.5px;
}
