
.content--services
{
    padding: 50px 20px;
}

.content--services img:hover {opacity: 0.7;}

.filter-buttons
{
    text-align: center;
    margin: 40px 0 20px 0;
}

.filter-button
{
    font-size: 18px;
    border: 1px solid $border-color;
    border-radius: 5px;
    text-align: center;
    color: $border-color;
    margin-bottom: 30px;

}
.filter-button:hover
{
    font-size: 18px;
    border: 1px solid $border-color;
    border-radius: 5px;
    text-align: center;
    color: $alt-font-color;
    background-color: $border-color;

}
.btn-default:active .filter-button:active
{
    background-color: $border-color;
    color: $alt-font-color;
}

.port-image
{
    width: 100%;
}

.gallery_item
{
    margin: 15px 0;
    float: left;
}

.gallery_item img
{
    width: 450px!important;
    height: 365px!important;
    max-width: 450px!important;
    max-height: 365px!important;
}


// .service-list
// {
//      display: block;
//      text-align: center;
//      margin: 60px 0;
// }

// .service-list ul
// {
//     list-style: none;
//     margin: 0;
//     padding: 0;
//     border: none;
//     display: block;
// }

// .service-list li
// {
//     margin: 0 20px 20px 0;
//     display: inline-block;
//     list-style: none;
//     position: relative;
// }

// .service-list a
// {
//     letter-spacing: 0em !important;
//     text-transform: uppercase !important;
//     font-weight: normal !important;
//     font-size: 12px;
//     background: 0 0;
//     padding: 10px;
//     line-height: 100%;
//     color: #777;
//     display: inline-block;
//     border: 1px solid #777;
//     -webkit-transition: all .4s cubic-bezier(.215,.61,.355,1);
//     -o-transition: all .4s cubic-bezier(.215,.61,.355,1);
//     transition: all .4s cubic-bezier(.215,.61,.355,1);
//     text-decoration: none;
// }

// .service-list a.selected, .service-list a:hover {
//     color: #fff;
//     background: #151515;
//     border-color: #151515;
// }

.modal-dialog {
    max-width: 800px;
    margin: 35% auto;
}



.modal-body {
position:relative;
padding:0px;
min-height:400px;
background:#ccc;
border: thin solid $gold;
}




.close {
position:absolute;
right:-30px;
top:0;
z-index:999;
font-size:2rem;
font-weight: normal;
color:#fff;
opacity:1;
}

#image {
min-height:200px;
}