//$shadow-color: rgb(7, 14, 68);
$font-color: #333333;

$alt-font-color: #fff;

$shadow-color:rgba(0, 0, 0, .6);

$font-family: 'Source Sans Pro', helvetica, arial;

$anchor-color: #fff;

$container-background: rgba(0, 0, 0, .75);

$container-color: #fff;

$figure-background:  #ffbf00;

$gold:  #ffbf00;

$solid-background: #000;

$card-background: #fff;

$border-color: #777;