@import "video";

.hide-on-desktop
{
   display:none;
}

.btn-holder {
   top: 50%;
   width: 100%;
   //border: thin solid green;
 }

 .splash
 {
   font-size: 850%;
 }

 .break
 {
    display:none;
 }
