/* navigation */
.bg-trans {
  background-color:#000
}

.navbar-dark .navbar-nav .nav-link {
color: #ffbf00;
}

/* home section */
@import "carousel";

#home-video
{
  display: none;
}

h1{
 font-size: 1.6rem!important;
}

h3{
 font-size: 1.1rem!important;
}

.tag-line{
 font-size: 1rem!important;
}

.btn-box {
 border: 1px solid rgba(255, 255, 255, 0.15);
 border-color: rgba(255, 255, 255, 0.5) !important;
 font-size: 16px;
 margin: 0 3px;
 padding: 13px;
 letter-spacing: 0;
 cursor: pointer;
}

/* carousel section */
.carousel-strapline 
{
 font-size: 2.6rem;
}

.container--landing-slider
{
 padding:0;
}

#home-slider
{
  display: inherit;  
}

#home-slider .fg-content
{
 width: 100%;
 top: 22%;
}

.fg-slider {
 position: relative;
 width: 100%;
 height: 900px;
 overflow: hidden;
}

.slider-tagline {
 color: #fff;
 font-size: 0.9rem;
}

/* about us section */
.content--about-us
{
  padding: 0 10px;
}

/* team section */
figure{
 height: 50px;
 width: 50px;
}

figure img{
 width: 30px;
}

.frontside
{
margin-bottom: 5px;
}

/* splash section */
.content--splash p
{
  padding: 20px 10px;
  font-size: 24px;
}

/* gallery section */
.content--services {
 padding: 30px 10px;
}

.filter-button {
 margin-bottom: 10px;
}

.gallery_item img {
 width: 280px!important;
 height: 280px!important;
 max-width: 280px!important;
 max-height: 280px!important;
}

.modal-dialog {
  max-width: 550px; 
   margin: 8% auto;
}

.modal-body
{
 min-height: inherit;
}

/* get connected section */
.content--get-connected
{
 padding: 25px 10px;
}

/* get contact section */
.content--contact
{
padding: 25px 10px;
}

// body {
//   color: green;
// }

