
 @import "carousel";
 
 .container--landing-slider
 {
  padding:0;
 }

 #home-slider
 {
   display: inherit;  
 }

 #home-video
 {
   display: none;
 }
 

 #home-slider .fg-content
 {
  width: 100%;
 }

 .carousel-strapline 
{
  font-size: 2.6rem;
}

.btn-box {
	border: 1px solid rgba(255, 255, 255, 0.15);
   border-color: rgba(255, 255, 255, 0.5) !important;
	// background: transparent;
	// color: #fff;
	// font-weight: bold;
	// padding: 0.6em 0.8em 0.4em 0.8em;
	 font-size: 16px;
	// line-height: 18px;
	 margin: 0 3px;
	// cursor: pointer;
	// text-align: center;
	// display: inline-block;
	// text-decoration: none !important;


    padding: 13px;
    letter-spacing: 0;

    cursor: pointer;
 }

 .bullet-container, .arrow-container
 {
   display: none;
 }

 .fg-slider {
  position: relative;
  width: 100%;
  //height: 100%;
  height: 900px;
  overflow: hidden;
}

body {
   color: blue;
}

.slider-tagline {
  color: #fff;
  font-size: 0.9rem;

  // font-size: 12%;
  // text-align: center;
  // width: 100%;
  // letter-spacing: 0.05em;
  // line-height: 100%; 
  // margin-bottom: 10px;
}

h1{
  font-size: 1.6rem!important;
}

h3{
  font-size: 1.1rem!important;
}

.tag-line{
  font-size: 1rem!important;
}

figure{
  height: 50px;
  width: 50px;
}

figure img{
  width: 30px;
}

.content--splash p
{
  padding: 40px 20px;
}

.filter-button {
  margin-bottom: 10px;
}

.gallery_item img {
  width: 280px!important;
  height: 280px!important;
  max-width: 280px!important;
  max-height: 280px!important;
}

.modal-dialog {
   max-width: 300px; 
  //margin: 30px auto;
}

.modal-body
{
  min-height: inherit;
}

.frontside
{
margin-bottom: 5px;
}

.content--get-connected
{
  padding: 25px 10px;
}

.content--contact
{
padding: 25px 10px;
}