@import "variables";

body{
   background-color: $default-bg-colour;
 }

 .bg-trans {
  background-color: rgba(0, 0, 0, 0.2); }

  .bg-no-trans {
    background-color: rgba(0, 0, 0, 0.8); }
  
    
 .fg-slider {
  height: 800px!important;
}

.container--big {
  height: 175vh;
}

.container--full {
  height: 100vh;
}

.container--small {
  height: 80vh;
}

.container--about-us {
  height: 68vh;
}

.container {
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
  max-width: 100%;
}

.container .content {
  //background: rgba(0,0,0,.75);
  //border-radius: 8px;
 // color: #fff;
  margin: 0 auto;
  padding: 30px 35px;
  text-align: center;
}

.about-us-text
{
  margin-top: 50px;
  text-align: left;
}

figure{
background: #ffbf00;
height: 64px;
width: 64px;
display: flex;
align-items: center;
border-radius: 50%;
justify-content: center;
float: left;
}

.btn-holder {
  position: absolute;
  color: #fff;
  // top: 36%;
  // width: 100%;
  display: flex;
  justify-content: center;
}

.btn-box {
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-color: rgba(255, 255, 255, 0.5) !important;
  background: transparent;
  color: #fff;
  font-weight: bold;
  padding: 0.6em 0.8em 0.4em 0.8em;
  font-size: 10px;
  line-height: 18px;
  margin: 0 3px;
  cursor: pointer;
  text-align: center;
  display: inline-block;
  text-decoration: none !important;
}

.about-us-section .content{
   background-color: #fff;
  color: #151515;
}

.divider-1 span
{
  display: inline-block;
  padding: 0 20px;
  position: relative;
  vertical-align: baseline;
  margin-bottom: 10px;
}
.divider-1 span::before
{
  right: 100%;
}

.divider-1 span::after
{
  left: 100%;
}

.divider-1 span::before, .divider-1 span::after
{
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  width: 40%;
  background-attachment: scroll;
  background-repeat: repeat-x;
  background-position: center center;
 
  background-image: url('../assets/images/divider.png');
    height: 9px;
    margin-top: -4.5px;
}


.bg2
{
  background-color: #fff;
 // background-image: url('../assets/images/bg-2.png')
}

.bg3
{
 // background-color: #fff;
  background-image: url('../assets/images/bg-2.png')
}

// .about-us-section
// {
//   background-image: url('http://localhost:3000/assets/images/bg-2.png');
//   background-position: 50%;
//   background-repeat: no-repeat;
//   background-size: cover;
// }
